<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animation3DRolling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E3C36AC1C1AAB5000846AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E3C36C51C1AAB5000846AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E3C36D01C1AAB5000846AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
